auto-install-peers=false
strict-peer-dependencies=false
minimum-release-age-exclude=expo,expo-blur,expo-constants,expo-font,expo-glass-effect,expo-haptics,expo-image,expo-image-picker,expo-linear-gradient,expo-linking,expo-location,expo-router,expo-splash-screen,expo-status-bar,expo-symbols,expo-system-ui,expo-web-browser,react-native,react-native-gesture-handler,react-native-keyboard-controller,react-native-reanimated,react-native-safe-area-context,react-native-screens,react-native-svg,react-native-worklets,@types/react,@types/react-dom,typescript
